<div class="container text-center">
  <h1>Voici nos magnifique lists !</h1>
  <div class="d-flex flex-wrap">
        <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWVkMWxrcnNidDU0ZG40aWVkcWFsdmk5ZzlrdmVkZTFyYmxia2VyeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RLJrfLPa5jD2FoWrOO/giphy.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ta list, ici !</h5>
          <p class="card-text">Click sur le bouton pour crée ta list magique et spectacular.</p>
          <%= link_to "Click ici !", new_list_path(), class:"btn btn-primary button" %></a>
        </div>
      </div>
    <% @lists.each do |l| %>
      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="<%= l.image_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= l.name %></h5>
          <p class="card-text">Description</p>
          <%= link_to "Infos", list_path(l), class:"btn btn-primary button" %></a>
        </div>
      </div>
    <% end %>
    </div>
</div>
